@import '../Variables.scss';


.projects-container {
    @include dCenter;
    flex-direction: column;

    width: 100%;

    .projects-tit {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 1rem;

        div {
            width: 80%;
            height: 2px;
            background-color: blue;
        }

        h2 {
            font-size: 2.8rem;
            color: $azure;
            margin-bottom: 2rem;

            @media(max-width: 266px) {
                font-size: 2rem;
            }
        }

    }

    .card-projects {
        @include dCenter;
        flex-wrap: wrap;
        max-width: 1500px;
        gap: 2rem;
        padding: 2rem;
        border-radius: $radius;

        div {
            max-width: 400px;
            background-color: rgb(0, 0, 94);
            padding: 1.2rem;
            border-radius: $radius;
            overflow: hidden;

            .icons {
                @include dCenter;
                font-size: 2rem;
                gap: .8rem;
                color: $azure;
                margin: -.5rem;
                flex-wrap: wrap;

                span {
                    cursor: pointer;

                    &:hover {
                        color: $dimmgrey;
                    }
                }
            }

            img {
                width: 100%;
                margin-bottom: .5rem;
                border-radius: $radius;
                transition: 0.4s ease;

                &:hover {
                    transform: scale(1.08);
                    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
                }
            }

            h3 {
                color: $azure;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem
            }

            .btn {
                @include dCenter;
                font-size: 1.5rem;
                padding: .5rem 0;
                width: 100%;
                border-radius: $radius;
                cursor: pointer;
                border: none;
                background-color: $black;
                font-weight: bold;
                color: rgb(0, 0, 94);
                transition: 0.5s;
                border: 2px solid $transparent;

                &:hover {
                    background-color: $transparent;
                    border: 2px solid $black;
                    color: $black;
                }
            }

            p {
                color: $azure;
                text-align: center;
                margin-top: 1rem;
                font-size: 1.5rem;
            }
        }

    }

}