@import '../Variables.scss';

.grid {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: 100%;
    max-height: 450px;

    @media(max-width: 1210px) {
        width: 100%;
        height: 100%;
    }

    div {
        background-color: $transparent;
        border: 2px solid $azure;
        @include dCenter;
        flex-direction: column;
        color: $dimmgrey;
        cursor: pointer;
        transition: $seg;
        border-radius: $radius;
        padding: .6rem 0;

        svg {
            font-size: 5rem;
            transition: $seg;
        }

        &:hover {

            svg {
                color: $azure;
            }
        }

    }

    a {
        text-decoration: none;

        div {
            background-color: $transparent;
            border: 2px solid $azure;
            @include dCenter;
            flex-direction: column;
            color: $dimmgrey;
            cursor: pointer;
            transition: $seg;
            border-radius: $radius;
            padding: 1rem 0;

            svg {
                font-size: 5rem;
                transition: $seg;
            }

            &:hover {

                svg {
                    color: $azure;
                }
            }
        }
    }
}