@import '../Variables.scss';

.me {
    width: 20%;
    @include dCenter;
    flex-direction: column;
    color: $azure;
    text-align: center;
    gap: 1rem;
    background-color: $bluedark ;
    padding: 2rem;
    border-radius: $radius;

    .me-img {
        img {
            margin-bottom: .7rem;
            border-radius: 50%;
            width: 100%;
        }   
    }

    .skills {
        @include dCenter;
        flex-direction: column;
        h2 {
            margin-bottom: .7rem;
        }
        .me-skills {
            @include dCenter;
            max-width: 80%;
            flex-wrap: wrap;
            gap: .5rem;
            p {
                font-size: 2rem;
            }
        }
    }
}