.toggle-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .toggle-input {
        display: none;
    }

    .toggle-slider {
        position: relative;
        width: 4em;
        height: 2em;
        background-color: #d1d9e6;
        border-radius: 15px;
        transition: 0.4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        font-size: 14px;
        color: #394a56;

        &::before {
            content: "EN";
            position: absolute;
            left: 8px;
            transition: opacity 0.3s;
        }

        &::after {
            content: "PT";
            position: absolute;
            right: 8px;
            transition: opacity 0.3s;
            opacity: 0;
        }

        &::before,
        &::after {
            font-weight: bold;
        }

        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 0;
        }

        &::before,
        &::after {
            transition: opacity 0.3s;
        }
    }

    .toggle-input:checked+.toggle-slider {
        background-color: #4CAF50;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }

    .toggle-slider::before {
        content: "EN";
        position: absolute;
        left: 8px;
        transition: opacity 0.3s;
    }

    .toggle-slider::after {
        content: "PT";
        position: absolute;
        right: 8px;
        transition: opacity 0.3s;
        opacity: 0;
    }

    .toggle-input:checked+.toggle-slider::before {
        opacity: 0;
    }

    .toggle-input:checked+.toggle-slider::after {
        opacity: 1;
    }

    .toggle-slider::before,
    .toggle-slider::after {
        font-weight: bold;
    }
}