@import '../Variables.scss';


.nav {
    @include dCenter;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    color: $azure;
    background: $transparent;
    border-bottom: 2px solid $azure;

    h2 {
        text-align: center;
        a {
            text-decoration: none;
            color: $azure;
        }   
    }
   
    @media(max-width: 650px) {
        padding: 1rem;
        flex-direction: column;
        gap: 2rem;

        .top-div {
            order: 1;
        }

        .name-div {
            order: 2;
        }
    }
}