@import '../Variables.scss';


.nav {
    @include dCenter;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    color: $azure;
    background: $transparent;

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    @media(max-width: 650px) {

        flex-direction: column;
        gap: 2rem;

        .top-div {
            order: 1;
        }

        .name-div {
            order: 2;
        }
    }
}