@import '../Variables.scss';

.footer {
    @include dCenter;
    width: 100%;
    background: linear-gradient(135deg, #002a4d, #001f3f);
    color: $azure;
    gap: 2rem;
    padding: 1rem 0;
    border-top: 2px solid;
    transition: background 0.4s;

    .social {
        @include dCenter;
        border-radius: 50%;

        a {
           @include dCenter;
            color: $azure;
        }

        .github:hover {
            color: red;
        }

        .linkedin:hover {
            color: blue;
        }

        svg {
            font-size: 1.8rem;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}