$base-padding: 1rem;
$gap-large: 3rem;
$gap-medium: 1.5rem;

@import './components/Variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;

  &::selection {
    color: blue;
  }
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: background 0.5s;
  background: linear-gradient(135deg, #a2c2e3, #f4f4f9);
  scrollbar-color: rgb(0, 0, 94) #222;
  transition: 0.5s;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  flex: 1;
  @include dCenter;
  padding: $base-padding;
  background: linear-gradient(135deg, #002a4d, #001f3f);

  transition: background 0.4s;

  .portifolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    height: 100%;

    @media(max-width: 1210px) {
      flex-direction: column;
      gap: $gap-large;
      width: 90%;
    }

    @media(max-width: 768px) {
      gap: $gap-medium;
      width: 95%;
    }
  }
}