* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  color: #000000;
  transition: background-color 0.5s, color 0.5s;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
}

.portifolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  height: 100%;
}

@media(max-width: 1210px) {
  .app {
    height: 100%;
    margin: 2rem 0 3.5rem;
  }

  .portifolio {
    flex-direction: column;
    gap: 5rem;
  }
}