@import '../Variables.scss';

.container-about {
    @include dCenter;
    flex-direction: column;
    color: $azure;
    width: 80%;
    border-radius: $radius;
    border: 2px solid $azure;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;

        @media(max-width: 250px) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1.3rem;
        margin: 0 1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;

        @media(max-width: 320px) {
            font-size: 1rem;
        }

        @media(max-width: 250px) {
            font-size: .8rem;
        }

        @media(max-width: 210px) {
            font-size: .6rem;
        }
    }

    h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;

        @media(max-width: 320px) {
            font-size: 1.5rem;
        }

        @media(max-width: 250px) {
            font-size: 1.2rem;
        }

        @media(max-width: 210px) {
            font-size: .8rem;
        }
    }

    .skills {
        @include dCenter;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        .skill {
            @include dCenter;
            gap: .4rem;
            flex-wrap: wrap;

            div {
                @include dCenter;
                width: 5rem;
                height: 5rem;
                background-color: $dimmgrey;
                border-radius: $radius;
                transition: 0.1s ease;

                &:hover {
                    transform: scale(1.1);
                }

                svg {
                    font-size: 3rem;
                    color: $azure;
                }
            }
        }
    }
}